:root{
	--manilaColor: 	#ffe699;
	--coral:		#ffb3b3;
	--paleGreen:	#c1f0c1;
	--folder_tab_dx:	13px;
	--tab_brdr_btm:		23.9px;
	--tab_padding:		6px;
	--label_size:		14px;
}


body {
	background: #966F33;
}

.main-page {
	margin: auto;
}

#section-holder {
	display: flex;
	justify-content: space-evenly;
}
.section{
	flex: 1 1 0px;
	max-width: 460px;
}
@media screen and (max-width: 480px){
	#section-holder{	flex-direction: column;	}
}

/*		console styles		*/
#console{	margin: 0 5px;	}
.tuner-grid{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto;
	/*grid-column-gap: 10px;
	grid-row-gap: 5px;	*/
	justify-content: center;
}
.sw-grid{
	display: grid;
	grid-template-columns: 40% 15% 40%;
	grid-column-gap: 10px;
	grid-row-gap: 4px;
	justify-content: space-evenly;
	margin-top: 5px;
}

.row1{	grid-row: 1 / 2;	}
.row2{	grid-row: 2 / 3;	}
.row3{	grid-row: 3 / 4;	}
.row4{	grid-row: 4 / 5;	}
.col1{	grid-column: 1 / 2;	}
.col2{	grid-column: 2 / 3;	}
.col3{	grid-column: 3 / 4;	}

.sw-grid {
	div{	text-align: center;	}
	.row3.col2{	grid-column: 2 / 4;	}
	.col1-4{
		grid-column: 1 / 4;
		display: flex;
		justify-content: center;
	}
}

.tuner-grid div{	text-align: center;	}
.sw-grid .row1.col2{	position: relative;	}

#blinker{
	position: absolute;
	width: 128%;
	left: -14%;		/* calc(50% - 40px);	*/
	top: 2%;		/* calc(50% - 40px);	*/
}

input{	margin: 6px;	}
h1{	margin: 10px 0 10px 0;	}

/* shared SVG styles */
svg text{
	font-family: monospace;
	font-weight: bold;
	cursor: pointer;
}

/* radio-tuner class styling */
.radio-tuner{	max-width: 300px;	}
.radio-tuner foreignObject{	clip-path: url(#number-ring);	}
.radio-knob{	stroke-dasharray: 1.5 1.5;	}

svg line{
	transition: all 2s;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
}

.ag-conic-fill{
	width: 100%;
	height: 100%;
	margin: 0;
	background: conic-gradient(from 65deg,
		#fff 0deg 50deg, #ccc 70deg 160deg,
		#fff 180deg 230deg, #ccc 250deg 340deg, #fff);
}
#wpm-tuner .radio-pointer{	transform: rotate(108deg);	}
#lvl-tuner text{	font-size: 16px;	}

/* toggle switch styling */
.toggle-switch input{
	display: none;
}
.toggle-switch {
	display: block;
}

/* The first method / selector is necessary, because Chromium does not handle ::part() correctly (or at all?).
Ideally the entire toggle switch would be contained in an svg <symbol>, styled by the ::part() selector */
input:checked + svg .switch-ball,
input:checked + svg use::part(switch-ball) {
	cx: 70%;
}

input:checked + svg .switch-shaft,
input:checked + svg > use::part(switch-shaft) {
	transform: rotateY(180deg);
}

.toggle-switch {
	clip-path: url(#switch-plate-outline);
}

.clickable{	cursor: pointer;	}
.svg-toggle-sw{	max-width: 250px;	}

.switch-shaft {
	transform-origin: 50% 50%;
	transition: transform 0.3s cubic-bezier(0.25, 0.0, 0.25, 1);
}

.switch-ball {
	transition: cx 0.3s cubic-bezier(0.25, 0.0, 0.25, 1);
}
/* end SVG styles */

/*		embossed label style, modeled after: 
https://i.pinimg.com/originals/ec/e7/27/ece727292ecde177d2cf1cc02b0d94de.jpg	*/
.emb-label{
	background-color: black;
	color: white;
	font-family: Manjari, monospace;
	text-transform: uppercase;
	letter-spacing: .3em;
	padding: 5px 10px 2px;
	display: inline-block;
}

textarea{
	resize: none;
	width: 95%;
}

#input-section{
	margin-top: 10px;
}
#prompt:before{	content: 'What is the morse message? ';}
#prompt{
	display: block;
}

/* Message selection area */
.conic_gradient {
	height: 100%;
	width: 100%;
}

#pb_AV19xxRA {
	.outer_ring {
		--outer_ring_color_1: #65655f;
		--outer_ring_color_2: #a7a7a7;
		--outer_angle_1: 6deg;
		--outer_angle_2: 12deg;

		background: conic-gradient(from 90deg,
			var(--outer_ring_color_1) var(--outer_angle_1), var(--outer_angle_2), 
			var(--outer_ring_color_2), calc(180deg - var(--outer_angle_2)), 
			var(--outer_ring_color_1) calc(180deg - var(--outer_angle_1)) calc(180deg + var(--outer_angle_1)), calc(180deg + var(--outer_angle_2)), 
			var(--outer_ring_color_2), calc(360deg - var(--outer_angle_2)),
			var(--outer_ring_color_1) calc(360deg - var(--outer_angle_1)));
	}
	
	.flat_ring {
		--flat_ring_color_1: #3b3b3b;
		--flat_ring_color_2: #6e6e6e;
		--flat_ring_angle_1: 10deg;
		--flat_ring_angle_2: 16deg;

		background: conic-gradient(from 90deg,
			var(--flat_ring_color_1) var(--flat_ring_angle_1), var(--flat_ring_angle_2), 
			var(--flat_ring_color_2), calc(180deg - var(--flat_ring_angle_2)), 
			var(--flat_ring_color_1) calc(180deg - var(--flat_ring_angle_1)) calc(180deg + var(--flat_ring_angle_1)), calc(180deg + var(--flat_ring_angle_2)), 
			var(--flat_ring_color_2), calc(360deg - var(--flat_ring_angle_2)),
			var(--flat_ring_color_1) calc(360deg - var(--flat_ring_angle_1)));
	}
	.illuminated_ring{
		fill: none;
		stroke: #bbb;
	}
}

use.ring_red::part(illuminated_ring) {
	stroke: red;
	filter: drop-shadow(0 0 1.6px red);
}

use.ring_grn::part(illuminated_ring) {
	stroke: green;
	filter: drop-shadow(0 0 1.6px green) ;
}

.touch{	display: none;	}
.button-panel {
	display: grid;
	grid-template-columns: 20% 70%;
	justify-content: space-evenly;
}

.button-panel button{
	border: none;
	background: none;
}

.button-panel svg > text {
	fill: cyan;
	font-family: monospace;
	/* text-align: center; */
	dominant-baseline: central;
	text-anchor: middle;
	white-space: pre;
}

.button-panel:after{
	content: '';
	clear: both;
	display: table;
}
#msg-hint{
	font-size: 25px;
}
#answer{	font-size: 20px;	}
#answer:before{
	content: 'click for answer: ';
}

/*			Info Folder			*/
#info-folder{
	padding: 10px 0 10px 0;
	position: relative;
	margin-left: 30px;
}
input[type="radio"]:not(:checked) + .folder{	display: none;	}

#info-folder input[type="radio"]{	display: none;	}
.instruction-page{
	background-color: var(--manilaColor);
	border-bottom-color: var(--manilaColor);
}
.instruction-page .paperclip > svg{	transform: rotate(10deg);	}
.code-page{
	background-color: skyblue;
	border-bottom-color: skyblue;
}
.code-page .paperclip > svg{	transform: rotate(20deg);	}
.history-page{
	background-color: var(--paleGreen);	
	border-bottom-color: var(--paleGreen);
}

.coral-page{
	background-color: var(--coral);
	border-bottom-color: var(--coral);
}
.folder{
	position: relative;		/* so that the folder-tab edges will be covered */		
	border-radius: 16px 0 0 16px;
	padding: 10px;
	height: 570px;		/* will likely change this later	*/
}
#folder-tabs{
	position: absolute;
	right: calc(100% - 0.7px);
	display: flex;
	transform: rotate(-90deg);
	transform-origin: bottom right;
}
.folder-label{
	position: relative;
	margin: 0 0 0 calc(2 * var(--folder_tab_dx));		/*	used to space the tabs from each other */
	padding: var(--tab_padding);
	border-radius: 10px 10px 0 0;
	font-family: monospace;
	font-size: var(--label_size);
	white-space: nowrap;
}
.folder-label::before{
	content: "";
	position: absolute;
	right: calc(1px - var(--folder_tab_dx));
	bottom: 0;
	border-bottom: var(--tab_brdr_btm) solid;
	border-bottom-color: inherit;
	border-right: var(--folder_tab_dx) solid transparent;
}
.folder-label::after{
	content: "";
	position: absolute;
	left: calc(1px - var(--folder_tab_dx));
	bottom: 0;
	border-bottom: var(--tab_brdr_btm) solid;
	border-bottom-color: inherit;
	border-left: var(--folder_tab_dx) solid transparent;
}
.paper{
	background-color: aliceblue;
	font-family: monospace;
	padding: 25px 8px 8px;
}
figure{
	margin: 10px 0;
}
img{
	background-color: #fff;
	max-width: 100%;
	width: 400px; 
}
.paperclip{
	position: relative;
	top: -18px;
	left: 80%;
	float: left;
}
.paperclip svg{	position: absolute;	}
.paperclip-back{	z-index: -1;	}
.paperclip-front{	z-index: 1;		}


#uagent-info:before{	content: 'navigator info: ';	}
#touch-info:before{		content: 'touchscreen?: ';	}
