:root{
	--manilaColor: 	#ffe699;
	--coral:		#ffb3b3;
	--paleGreen:	#c1f0c1;
	--folder_tab_dx: 13px;
	--tab_padding: 6px;
	--label-size:	14px;
}


body{
	background: #966F33;
}

.main-page{	
	margin: auto;
}

#section-holder{
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 480px){
	#section-holder{	flex-direction: column;	}
}
.section{
	flex: 1 1 0px;
	margin: 0 40px;
	max-width: 460px;
}

.tuner-grid{
	display: grid;
	grid-template-columns: 45% 45%;
	grid-template-rows: auto auto;
	grid-column-gap: 10px;
	/*grid-row-gap: 5px;	*/
	justify-content: center;
}
.sw-grid{
	display: grid;
	grid-template-columns: 40% 15% 40%;
	grid-column-gap: 10px;
	grid-row-gap: 4px;
	justify-content: space-evenly;
	margin-top: 5px;
}
.sw-grid div{	text-align: center;	}
.row1{	grid-row: 1 / 2;	}
.row2{	grid-row: 2 / 3;	}
.row3{	grid-row: 3 / 4;	}
.row4{	grid-row: 4 / 5;	}
.col1{	grid-column: 1 / 2;	}
.col2{	grid-column: 2 / 3;	}
.col3{	grid-column: 3 / 4;	}
.row3.col2{	grid-column: 2 / 4;	}
.col1-4{
	grid-column: 1 / 4;	
	display: flex;
	justify-content: center;
}

.tuner-grid div{	text-align: center;	}
.row1.col2{	position: relative;	}

#blinker{
	position: absolute;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
}

input{	margin: 6px;	}
h1{	margin: 10px 0 10px 0;	}

/* shared SVG styles */
svg text{
	font-family: monospace;
	font-weight: bold;
	cursor: pointer;
}

/* radio-tuner class styling */
.radio-tuner{	max-width: 300px;	}
.radio-tuner foreignObject{	clip-path: url(#number-ring);	}
.radio-knob{	stroke-dasharray: 1.5 1.5;	}

svg line{
	transition: all 2s;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
}

.ag-conic-fill{
	width: 100%;
	height: 100%;
	margin: 0;
	background: conic-gradient(from 65deg,
		#fff 0deg 50deg, #ccc 70deg 160deg,
		#fff 180deg 230deg, #ccc 250deg 340deg, #fff);
}
#wpm-tuner .radio-pointer{	transform: rotate(108deg);	}
#lvl-tuner text{	font-size: 16px;	}

/* toggle switch styling */
.clickable{	cursor: pointer;	}
.svg-toggle-sw{	max-width: 250px;	}

svg path{
	transform-origin: 50% 50%;
	transition: all 0.3s cubic-bezier(0.25, 0.0, 0.25, 1);	
}
svg circle{	transition: all 0.3s cubic-bezier(0.25,0.0,0.25,1);	}

.svg-toggle-sw text{
	fill: #ddd;
	font-size: 16px;
}
/* end SVG styles */

/*		embossed label style, modeled after: 
https://i.pinimg.com/originals/ec/e7/27/ece727292ecde177d2cf1cc02b0d94de.jpg	*/
.emb-label{
	background-color: black;
	color: white;
	font-family: Manjari, monospace;
	text-transform: uppercase;
	letter-spacing: .3em;
	padding: 5px 10px 2px;
	display: inline-block;
}

textarea{
	resize: none;
	width: 95%;
}
/*
table{	border-collapse: collapse;	}

td{position: relative;	}
input[type='range']{
	background: lightgreen;
}

meter{
	height: 25px;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background: none;
	background-color: whitesmoke;
	box-shadow: 0 5px 5px -5px #333 inset;
	-webkit-appearance: none;
	-moz-appearance: none;
}*/
meter:-moz-meter-bar{
	/*box-shadow: 0 5px 5px -5px #999 inset;	*/
	border-radius: 5px;
	/*background-image: linear-gradient(
		90deg,
		#8bcf69 5%,
		#719fd1 95%,
		#719fd1 100%);					*/
	background-size: 50% 50%;
}
/*
meter:-moz-sub-optimum{
	background: cyan;
}

#lvl-disp:before{
	content: 'Level: ';
}
#wpm-disp:before{	content: 'Speed ';	}
#wpm-disp:after{	content: ' [wpm]';	}

#fwth-disp:before{	content: 'Farnsworth ';	}
#fwth-disp:after{		content: ' [-]';	}

#audio-sym{	display: inline;	}
.audio:before, .audio:after,
.audio span:before, .audio span:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
}
.audio span:before, .audio span:after{
	margin: -8px 0 0;
	background: #c55500;
}

.audio span:before{
	left: -2px;
	border: 7px solid transparent;
	border-right-color: #c55500;
	margin-top: -7px;
	background: transparent;
}
.audio span:after{
	left: 4px;
	width: 4px;
	height: 6px;
	margin-top: -3px;
}

.audio-on:before{
	left: 12px;
	width: 6px;
	height: 6px;
	margin-top: -5px;
	border: 4px double #c55500;
	border-width: 4px 4px 0 0;
	border-radius: 0 15px 0 0;
	transform: rotate(45deg);
}*/

#input-section{
	margin-top: 10px;
}
#prompt:before{	content: 'What is the morse message? ';}
#prompt{
	display: block;
}

.touch{	display: none;	}
.button-array button{
	float: left;
	width: 25%;
	/*height: 10px;*/
	color: white;
	background: lightgreen;
	padding: 10px 16px;	/* the horizontal padding is probably unnecessary... */
	border: 1px solid green;
}
.button-array button:not(:last-child){
	border-right: none;
}
.button-array:after{
	content: '';
	clear: both;
	display: table;
}
#msg-hint{
	font-size: 25px;
}
#answer{	font-size: 20px;	}
#answer:before{
	content: 'click for answer: ';
}

/*			Info Folder			*/
#info-folder{
	padding: 10px;
	position: relative;
}
input[type="radio"]:not(:checked) + .folder{	display: none;	}

#info-folder input[type="radio"]{	display: none;	}
.instruction-page{
	background-color: var(--manilaColor);
	border-bottom-color: var(--manilaColor);
}
.instruction-page .paperclip > svg{	transform: rotate(10deg);	}
.code-page{
	background-color: skyblue;
	border-bottom-color: skyblue;
}
.code-page .paperclip > svg{	transform: rotate(20deg);	}
.history-page{
	background-color: var(--paleGreen);	
	border-bottom-color: var(--paleGreen);
}

.coral-page{
	background-color: var(--coral);
	border-bottom-color: var(--coral);
}
.folder{
	border-radius: 16px 0 0 16px;
	padding: 10px;
	height: 570px;		/* will likely change this later	*/
}
#folder-tabs{
	position: absolute;
	/* need to figure out a way to make this # flow */
	left: calc(calc(var(--tab_padding) * -8) + calc(-34 * var(--label-size)) + 106px);		/* 489px */	
	transform: rotate(-90deg);
	transform-origin: bottom right;
}
.folder-label{
	position: relative;
	margin: 0 18px 0 0;
	padding: var(--tab_padding);
	border-radius: 10px 10px 0 0;
	font-family: monospace;
	font-size: var(--label-size);
}
.folder-label::before{
	top: 6px;
	right: calc(1px - var(--folder_tab_dx));
	position: absolute;
	content: "";
	border-bottom: 23px solid;
	border-bottom-color: inherit;
	border-right: var(--folder_tab_dx) solid transparent;
}
.folder-label::after{
	top: 6px;
	left: calc(1px - var(--folder_tab_dx));
	position: absolute;
	content: "";
	border-bottom: 23px solid;
	border-bottom-color: inherit;
	border-left: var(--folder_tab_dx) solid transparent;
}
.paper{
	background-color: aliceblue;
	font-family: monospace;
	padding: 25px 8px 8px;
}
figure{
	margin: 10px 0;
}
img{
	background-color: #fff;
	max-width: 100%;
	width: 400px; 
}
.paperclip{
	position: relative;
	top: -18px;
	left: 80%;
	float: left;
}
.paperclip svg{	position: absolute;	}
.paperclip-back{	z-index: -1;	}
.paperclip-front{	z-index: 1;		}


#uagent-info:before{	content: 'navigator info: ';	}
#touch-info:before{		content: 'touchscreen?: ';	}
