
# Ballot data files
####################
*.irv

# picture formats 
#################
*.png

# packages / compressed objects
###############################
*.zip
*.tar
*.rar

# notes file
############
notes
*.swp

# Scratch files
###############
scratch.*
