
# Ballot data files
####################
*.irv

# picture formats 
#################
*.png
*.xcf

# packages / compressed objects
###############################
*.zip
*.tar
*.rar

# notes file
############
*notes*
*.swp

# Scratch files
###############
scratch.*
