
# Ballot data files
####################
*.irv

# picture formats 
#################
*.png
*src.svg
*.xcf

# packages / compressed objects
###############################
*.zip
*.tar
*.rar

# notes / scratch files
############
*notes*
*.swp
scratch.*

# Test files
###############
*/res/test/
