body{
		background: #ddd;
}

ul{
		list-style: none;
}
table{
	border-collapse: collapse;

}
input{
	margin: 6px;
}
meter{
	height: 25px;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background: none;
	background-color: whitesmoke;
	box-shadow 0 5px 5px -5px #333 inset;
	-webkit-appearance: none;
	-moz-appearance: none;
}
meter:-moz-meter-bar{
	#box-shadow: 0 5px 5px -5px #999 inset;
	border-radius: 5px;
	#background-image: linear-gradient(
		90deg,
		#8bcf69 5%,
		#719fd1 95%,
		#719fd1 100%);
	background-size: 50% 50%;
}
meter:-moz-meter-optimum{
	background-color: blue;
}
meter:-moz-sub-optimum{
	background: cyan;
}

#lvl-disp:before{
	content: 'Level: ';
}
#wpm-disp:before{	content: 'Speed ';	}
#wpm-disp:after{	content: ' [wpm]';	}

#fwth-disp:before{	content: 'Farnsworth ';	}
#fwth-disp:after{		content: ' [-]';	}

#blinker{
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background: #666699;
}

#msg-hint{
	font-size: 25px;
}
#answer{	font-size: 20px;	}
#answer:before{
	content: 'click for answer: ';
}
