body{
	background: #966F33;
}

.main-page{	
	margin: auto;
}

.tuner-grid{
	display: grid;
	grid-template-columns: 45% 45%;
	grid-template-rows: auto auto;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	justify-content: center;
}
.sw-grid{
	display: grid;
	grid-template-columns: 40% 15% 40%;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	justify-content: space-evenly;
}
.sw-grid div{	text-align: center;	}
.row1{	grid-row: 1 / 2;	}
.row2{	grid-row: 2 / 3;	}
.row3{	grid-row: 3 / 4;	}
.col1{	grid-column: 1 / 2;	}
.col2{	grid-column: 2 / 3;	}
.col3{	grid-column: 3 / 4;	}
.row3.col2{	grid-column: 2 / 4;	}

.tuner-grid div{	text-align: center;	}
.row1.col2{	position: relative;	}

#blinker{
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	min-height: 50px;	/* what should the height / width ranges be? */
	min-width: 50px;
	border-radius: 25px;
	background: #666699;
}

input{	margin: 6px;	}
h1{	margin: 10px 0 10px 0;	}

/* shared SVG styles */
svg text{
	font-family: monospace;
	font-weight: bold;
	cursor: pointer;
}

/* radio-tuner class styling */
.radio-tuner{	max-width: 300px;	}
.radio-tuner foreignObject{	clip-path: url(#number-ring);	}
.radio-knob{	stroke-dasharray: 1.5 1.5;	}

svg line{
	transition: all 2s;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
}

.ag-conic-fill{
	width: 100%;
	height: 100%;
	margin: 0;
	background: conic-gradient(from 65deg,
		#fff 0deg 50deg, #ccc 70deg 160deg,
		#fff 180deg 230deg, #ccc 250deg 340deg, #fff);
}
#wpm-tuner .radio-pointer{	transform: rotate(108deg);	}
#lvl-tuner text{	font-size: 16px;	}

/* toggle switch styling */
.clickable{	cursor: pointer;	}
.svg-toggle-sw{
	clip-pat: url(#switch-plate);
	max-width: 250px;
}

svg path{
	transform-origin: 50% 50%;
	transition: all 0.3s cubic-bezier(0.25, 0.0, 0.25, 1);	
}
svg circle{	transition: all 0.3s cubic-bezier(0.25,0.0,0.25,1);	}

.svg-toggle-sw text{
	fill: #ddd;
	font-size: 16px;
}
/* end SVG styles */

textarea{
	resize: none;
}

table{	border-collapse: collapse;	}
input{	margin: 6px;	}
h1{	margin: 10px 0 10px 0;	}

td{position: relative;	}
input[type='range']{
	background: lightgreen;
}

meter{
	height: 25px;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background: none;
	background-color: whitesmoke;
	box-shadow 0 5px 5px -5px #333 inset;
	-webkit-appearance: none;
	-moz-appearance: none;
}
meter:-moz-meter-bar{
	#box-shadow: 0 5px 5px -5px #999 inset;
	border-radius: 5px;
	#background-image: linear-gradient(
		90deg,
		#8bcf69 5%,
		#719fd1 95%,
		#719fd1 100%);
	background-size: 50% 50%;
}
meter:-moz-sub-optimum{
	background: cyan;
}

#lvl-disp:before{
	content: 'Level: ';
}
#wpm-disp:before{	content: 'Speed ';	}
#wpm-disp:after{	content: ' [wpm]';	}

#fwth-disp:before{	content: 'Farnsworth ';	}
#fwth-disp:after{		content: ' [-]';	}

.audio:before, .audio:after,
.audio span:before, .audio span:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
}
.audio span:before, .audio span:after{
	margin: -8px 0 0;
	background: #c55500;
}

.audio span:before{
	left: -2px;
	border: 7px solid transparent;
	border-right-color: #c55500;
	margin-top: -7px;
	background: transparent;
}
.audio span:after{
	left: 4px;
	width: 4px;
	height: 6px;
	margin-top: -3px;
}

.audio-on:before{
	left: 12px;
	width: 6px;
	height: 6px;
	margin-top: -5px;
	border: 4px double #c55500;
	border-width: 4px 4px 0 0;
	border-radius: 0 15px 0 0;
	transform: rotate(45deg);
}

#prompt:before{	content: 'What is the morse message? ';}
#prompt{
	display: block;
}

.touch{	display: none;	}
.button-array button{
	float: left;
	width: 25%;
	#height: 10px;
	color: white;
	background: lightgreen;
	padding: 10px 16px;	/* the horizontal padding is probably unnecessary... */
	border: 1px solid green;
}
.button-array button:not(:last-child){
	border-right: none;
}
.button-array:after{
	content: '';
	clear: both;
	display: table;
}
#msg-hint{
	font-size: 25px;
}
#answer{	font-size: 20px;	}
#answer:before{
	content: 'click for answer: ';
}
figure{
	margin: 10px 0;
}
#infographic{
	max-width: 100%;
	width: 400px; 
}

#uagent-info:before{	content: 'navigator info: ';	}
#touch-info:before{		content: 'touchscreen?: ';	}
