body{
		background: #ddd;
}

.main-page{
	margin: auto;
}
table{	border-collapse: collapse;	}
input{	margin: 6px;	}
h1{	margin: 10px 0 10px 0;	}

td{position: relative;	}
input[type='range']{
	background: lightgreen;
}

meter{
	height: 25px;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background: none;
	background-color: whitesmoke;
	box-shadow 0 5px 5px -5px #333 inset;
	-webkit-appearance: none;
	-moz-appearance: none;
}
meter:-moz-meter-bar{
	#box-shadow: 0 5px 5px -5px #999 inset;
	border-radius: 5px;
	#background-image: linear-gradient(
		90deg,
		#8bcf69 5%,
		#719fd1 95%,
		#719fd1 100%);
	background-size: 50% 50%;
}
meter:-moz-sub-optimum{
	background: cyan;
}

#lvl-disp:before{
	content: 'Level: ';
}
#wpm-disp:before{	content: 'Speed ';	}
#wpm-disp:after{	content: ' [wpm]';	}

#fwth-disp:before{	content: 'Farnsworth ';	}
#fwth-disp:after{		content: ' [-]';	}

.audio:before, .audio:after,
.audio span:before, .audio span:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
}
.audio span:before, .audio span:after{
	margin: -8px 0 0;
	background: #c55500;
}

.audio span:before{
	left: -2px;
	border: 7px solid transparent;
	border-right-color: #c55500;
	margin-top: -7px;
	background: transparent;
}
.audio span:after{
	left: 4px;
	width: 4px;
	height: 6px;
	margin-top: -3px;
}

.audio-on:before{
	left: 12px;
	width: 6px;
	height: 6px;
	margin-top: -5px;
	border: 4px double #c55500;
	border-width: 4px 4px 0 0;
	border-radius: 0 15px 0 0;
	transform: rotate(45deg);
}

#blinker{
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background: #666699;
}
#prompt:before{	content: 'What is the morse message? ';}

.touch{	display: none;	}
.button-array button{
	float: left;
	width: 25%;
	#height: 10px;
	color: white;
	background: lightgreen;
	padding: 10px 24px;
	border: 1px solid green;
}
.button-array button:not(:last-child){
	border-right: none;
}
.button-array:after{
	content: '';
	clear: both;
	display: table;
}
#msg-hint{
	font-size: 25px;
}
#answer{	font-size: 20px;	}
#answer:before{
	content: 'click for answer: ';
}
figure{
	margin: 10px 0;
}
#infographic{
	max-width: 100%;
	width: 400px; 
}

#uagent-info:before{	content: 'navigator info: ';	}
#touch-info:before{		content: 'touchscreen?: ';	}
