/* river_styles.css */
html {  background-color: black;  }

body {
  text-align: center;
  position: relative;
}

.svg_container {
  background-color: rgb(158, 138, 165);
}

/* .scroll_container >  */
legend {
  border-radius: 10px;
  border: solid 1px #9b9b9b;
  padding: 0 7px;
}

fieldset {
  border-radius: 10px;
  margin: 2px;
  /* height: fit-content; */
}

/* floats on top of map */
.selection_box {
  position: absolute;
  display: flex;
  top: 0;
  left: 14%;
  background-color: aliceblue;
  border: solid #016001;
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 14px 14px;
  min-height: 0;
}

.scroll_container{
  position: relative;
  min-height: 0;
  min-width: 20em;
}

#tour_list {
  position: absolute;
  left: 0;  top: 0; right: 0; bottom: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  min-height: 0;
  padding: 0 0.3em;
}

ul {
  margin: 0;
  text-align: left;
  list-style: none;
}

.detail_line {
  display: flex;
  justify-content: space-between;
}

input[type="number"] {
  width: 40px;
  margin-left: 8px;
}

#tour_dist {
  min-width: 4.9em;
  text-align: right;
}

input[type="radio"]{  display: none;  } 
input[type="radio"]:checked + label { background-color: rgb(47, 162, 255);  }
input[type="radio"] + label{
  cursor: pointer;
  display: inline-block;
  width: 100%;
}