body{
	background: #ddd;
}

#nav-banner{
	display: flex;
	background: #fff;
	align-items: center;
}
#nav-banner h3{
	width: 25em;
	margin: 0 0 0 8px;
}
#nav-list{
	display: table;
	width: 100%;
}
#nav-list a{
	padding: 1em 16px;
	text-decoration: none;
	font-size: 1.17em;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#nav-list a:hover{	background: #00ffff;	}

#simple-plurality-link::after{	content: "Simple Plurality";	}
#approval-link::after{	content: "Approval";	}
#IRV-link::after{	content: "Instant Runoff / Ranked Choice";	}
#score-link::after{	content: "Score / Range";	}

@media screen and (max-width: 480px){
	#nav-banner{	flex-direction: column;}
	#nav-banner h3{
		width: auto;
		margin: 0;
	}
	#nav-list a{	padding: 4px;	}
	#simple-plurality-link::after{	content: "FPTP";	}
	#approval-link::after{	content: "AV";	}
	#IRV-link::after{	content: "IRV / RCV";	}
	#score-link::after{	content: "Score / Range";	}
	#main{	
		flex-direction: column;
	}
}

#main{
	display: flex;
	padding: 0 20px;
	justify-content: space-around;
	
}

/* ballot table */
#scroll-container{	padding: 0 32px;	}
.scrollable{
	position: relative;	
	overflow-y: auto;
	overflow-x: clip;
	max-height: 65vh;
    width: 107%;
}
table{	margin: 0 auto;	}
.scrollable thead *, tfoot *{	position: sticky;	}
.scrollable thead th{	top: 0;	}
.scrollable thead td{	top: 1.9em;	}	/* this should be the height of the first row... */
.scrollable tfoot td{	bottom: 0;	}	/* is this right? */

th, td{
	padding: 5px;
	background: #00cc99;
	text-align: center;
}
table, th, td{
	border:	1px solid black;
	border-collapse: collapse;
}
td > input{	width: 50px;	}
td input[type=number]{	-moz-appearance: textfield;	}


/* candidate settings */
#candidate-settings{
	min-width: 340px;
}

#table-dir::after{    content: "on the left";  }
@media screen and (max-width: 480px){
	#table-dir::after{	content: "above";	}
}

#cand-count{	width: 25px;	}
#candidate-deselect{
	padding: 0;	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#candidate-deselect li{	list-style-type: none;	}

button{
	width: 50%;
	margin: 0 auto;
	display: block;
}

input[type=button]{	width: 100px;	}

@media screen and (max-width: 480px){
	#candidate-settings{	min-width: 0;	}
}

/* Information styles */
#information{	margin: 0 0 0 10px;	}
@media screen and (max-width: 480px){
	#information{	margin: 0;	}
}
h4{     margin-bottom: 0;    }
#information p{      margin-top: 0;  }

footer{
	margin-top: 50px;
    margin-left: 5%;
}
footer ul{  padding: 0; }
footer li{
    position: relative;
    list-style-type: none;   
}
/*
footer li::before{
    content: "[ ]";
    position: relative;
    left: -23.7px;
}
*/