body{
	background: #ddd;
}

#nav-banner{
	display: flex;
	background: #fff;
	justify-content: space-between;
	align-items: center;
}
#nav-banner a{
	padding: 1em 16px;
	text-decoration: none;
	font-size: 1.17em;
}
#nav-banner a:hover{
	background: #00ffff;
}
#main{
	display: flex;
	justify-content: space-around;
}

table{
	margin: 0 10px;
}
th, td{
	padding: 5px;
	background: #00cc99;
}
table, th, td{
	border:	1px solid black;
	border-collapse: collapse;
}
td > input{
	width: 70px;
}
#pref-table{
}
#tally-rounds{
}
.clearfix::after{
	content:	"";
	clear:		both;
	display:	block
}

/* presets */
#presets{	
	margin: 0 0 0 10px;
	max-width: 70%;
}
#presets span{
	cursor: pointer;
	text-decoration: underline;
}

footer{
	position: absolute;
	bottom: 10px;
	left: 5%;
}
