:root{
	--PluralityGray: 89, 89, 89;	/* #cccccc */
	--FairVotePurple: 85, 50, 133; 	/* #553285 */
	--ApprovalGreen: 10, 102, 10; 	/* #1a4345 = 26, 67, 69;	#4e6f70 = 78, 111, 112 */
	--ScoreBlue: 0, 92, 230;		/* #005ce6 */
	--STAR-Red: 204, 0, 0;			/* #cc0000 */
}

/* common and general styles */
body{	background: #fff;	}
hr{		margin-bottom: 0.8em;	}

@media print{			/* displays a link's URL when printed */
	a[href]:after {
		content: " (" attr(href) ") ";
	}
}

h3{	margin-top: 0;}
@media screen and (max-width: 480px){
	h3{	margin-top: 1em;	}
}

h4{
	font-family: Arial, sans-serif;
	background-color: rgb(var(--rgb));
	color: #fff;
	padding: 0.15em;
	/* should probably be 1.2em, but 1.25 looks better on chrome, and isn't a noticeable issue on FF */
	line-height: 1.25em;	
	position: relative;
	display: table;
	margin: 0;
}
h4::after{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 100%;
	width: 0;
	height: 0;
	border-right: 1em solid transparent;
	border-bottom: 1.5em solid rgb(var(--rgb));	/* #5fce5f */
}

p{      margin-top: 2px;  }
sup{
	font-size: 0.7em;
	line-height: 0;
}

table{
	margin: 0 auto;
	background: rgb(var(--rgb));
	color: #fff;
}
th, td{
	border:	0.5px solid black;
	padding: 5px;
	width: 21px;	/* may want to make this a relative value at some point */
	text-align: center;
}

header :visited, header :link{	color: #000;	}

/* color classes */
/* credit to BoltClock on SO for this usage of css vars */
.plurality{	--rgb: var(--PluralityGray);	}
.approval{	--rgb: var(--ApprovalGreen);	}
.IRV{		--rgb: var(--FairVotePurple);	}
.score{		--rgb: var(--ScoreBlue);		}
.STAR{		--rgb: var(--STAR-Red);			}
/* end color classes */

.stripeOut {	background: repeating-linear-gradient(45deg, #aaaaaa, #aaaaaa 2px, #000 4px, #000 5px);	}

#nav-banner{
	display: flex;
	background: #fff;
	align-items: center;
}
#nav-banner h3{
	width: 30%;
	margin: 0 0 0 8px;
}
#nav-list{
	display: table;
	width: 100%;
}

h2{	margin: 10px 0;	}

header a{
	padding: 1em 16px;
	text-decoration: none;
	font-size: 1.17em;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	background: rgba(var(--rgb), 0.6);
}

#nav-list a:hover, a.active-link{
	background-color: rgba(var(--rgb), 1);
	color: #fff;
}

#simple-plurality-link::after{	content: "Simple Plurality";	}
#approval-link::after{	content: "Approval";	}
#IRV-link::after{	content: "Instant Runoff / Ranked Choice";	}
#score-link::after{	content: "Score / Range";	}

@media screen and (max-width: 480px){
	#nav-banner{	flex-direction: column;}
	#nav-banner h3{
		width: auto;
		margin: 0;
	}
	#nav-list a{	padding: 4px;	}
	#simple-plurality-link::after{	content: "FPTP";	}
	#approval-link::after{	content: "AV";	}
	#IRV-link::after{	content: "IRV / RCV";	}
	#score-link::after{	content: "Score / Range";	}
	main{	flex-direction: column;	}
	h2{		text-align: center;	}
}

main{
	display: flex;
	padding: 0 16px;
	justify-content: space-around;
	flex-wrap: nowrap;
}
main > div{	margin: 0 10px 20px 10px;	}
@media screen and (max-width: 480px){
	main > div{	margin: 0 0 20px 0;	}
}

/* Plurality voterInfo / instructions */
#voterInfo{	max-width: 500px;	}
.table-holder{
	max-width: 100%;
	overflow-x: auto;
}

/* ballot table */
/* this section could be better organized... */
table.plurality{	border-collapse: collapse;	}

#scroll-container{
	min-width: 200px;	/* this value prevents the table from being hidden */
	padding: 0 10px 0 0;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 65vh;
}

thead, tfoot, tr, th, td{	background: inherit;	}
#ballots{	border-spacing: 0;	}

/* border-spaceing: 0, and border-collapse: separate, is the best I have found that
works on chrome and FF... */
.sticky-table thead, .sticky-table tfoot{	position: sticky;	}
.sticky-table thead{
	top: 0;
	z-index: 2;
}
.sticky-table tfoot{	bottom: 0;	}

/* Styles needed for Chrome: */
.sticky-table thead *, .sticky-table tfoot td{ position: sticky}
.sticky-table thead th{	top: 0;	}
.sticky-table thead td{	top: 1.9em;	}	/* this should be the height of the first row... */
.sticky-table tfoot td{	bottom: 0;	}

td > input{	width: 45px;	}
td input[type=number]{	-moz-appearance: textfield;	}
thead [onclick]{	cursor: pointer;	}

/* css checkmark */
.checkmark{
	display: inline-block;
	position: relative;

}

.checkmark::after{
	position: absolute;
	display: block;
	content: "";
	height: 11px;
	width: 5px;
	border: solid white;
	border-width: 0 3px 3px 0;
	border-radius: 2px;
	left: calc(50% - 4px);
	top: calc(50% - 8px);
	transform: rotate(40deg);
}

/* 1D spectrum */
svg{
	display: block;
	margin: 8px auto;
	width: 60%;
}
svg > line{	
	stroke-linecap: round;
	stroke-linejoin: round;
}
svg > polyline{
	fill: transparent;
	stroke: black;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2px;
}

/* candidate settings */
#candidate-settings{
	min-width: 340px;
	max-width: 400px;
}
#candidate-settings.plurality{	max-width: 50%;	}

#table-dir::after{    content: "on the left";  }
@media screen and (max-width: 480px){
	#table-dir::after{	content: "above";	}
	#candidate-settings{	min-width: auto;	}
}

#cand-count{	width: 25px;	}
#candidate-selects{
	padding: 0;	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#candidate-selects > label{	margin: 0 10px;	}

button{
	width: 60%;
	margin: 5px auto;
	display: block;
}

.centered{	text-align: center;	}
#tally-rounds{	border-collapse: collapse;	}


/* 	information styles 	*/
#information{
	min-width: 50%;
	max-width: 800px;
}

span[onclick]{
	cursor: pointer;
	text-decoration: underline;
}

/*	footer styles	*/
footer{
	margin-top: 10px;
    margin-left: 5%;
}
footer ul{
	padding: 0; 
	margin-top: 8px;
}
footer li{	list-style-type: none;   }
